body {
    margin: 0;
    padding: 0;
}

/* .header {
    background-color: beige;
    top: 0; left: 0;
    position: fixed;
    height: 8vh;
    width: 100%;
} */

.footer {
    background-color: gray;
    position: fixed;
    bottom: 0; left: 0;
    height: 8vh;
    width: 100%;
}